@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background-color: white;
    --text-color: black;
    text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans';
  border-style: solid;
}

body {
  background-color: var(--background-color);
}

#body-star {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

#navigator {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#toggle {
  position: absolute;
  top: 75px;
  left: 92%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  background-color: var(--background-color);
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.listPopover {
  width: 100%;
  padding: 7px;
}

.listPopover:hover {
  background-color: gray;
  border-radius: 10px;
}

.listPopover2 {
  /* padding: 7px; */
  display: flex;
  width: 100%;
  justify-content: start;
  padding-left: 60px;
  
}

.listPopover2 > button {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  border-radius: 10px;
  background-color: #2196f3;
}

.listPopover2 > button:hover {
  background-color: rgb(96, 181, 250);
  border-radius: 10px;
}

.list-popover {
  color: var(--text-color);
}

.lisst {
  align-items: center;
}

.fa-camera-retro {
  color: gray;
  position: absolute;
  top: 185px;
  left: 533px;
}

.inputData {

  justify-content: start;
  padding-left: 60px;
  padding-right: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  width: 100%;
  height: 100%;
  border-top: 2px solid gray;
  /* border-bottom: 1px solid gray; */
  /* border-color: gray; */
  color: var(--text-color);
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

.divDataIn {
  color: var(--text-color);
  width: 100%;
  padding-left: 60px;
}

#buttonback {
  color: #2196f3;
  position: absolute;
  top: 50px;
  left: 460px;
}

#buttonback:hover{
  cursor: pointer;
}

.ultimopasw {
  border-top: 2px solid gray;
}

.inputData > p {
  align-items: center;
}

.inputData > div {
  display: flex;
  width: 100%;
  justify-content: end;
  /* margin-right: 70; */
}

#profileForm {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  /* margin-left: -40px; */
  color: var(--text-color);
  /* justify-content: flex-start; */
  width: 100%;
}

#tituloform {
  width: 100%;
  text-align: start;
  color: var(--text-color);
  padding: 20px;
  padding-left: 60px;
}

#tituloform2 {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 20px;
  padding-left: 60px;
}

/* #tituloform2 */

#titleForm {
  width: 100%;
  padding-right: 50px;
  padding-left: 10px;
  border-color: gray;
}

:not(#titleForm) {
  align-items: center;

}

#botonEdit {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: gray;
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
  border-color: gray;
  border: 2px solid gray;
}

#botonEdit:hover {
  cursor: pointer;
  background-color: gray;
}

#inputData > div {
  padding-right: 200px;
}

.input-form {
  padding: 15px;
  /* width: 6; */
  border: none;
  background-color: var(--background-color);
  text-align: start;
  width: 260px;
  border-radius: 20px;
}

.input-form2 {

  padding: 15px;
  border: none;
  background-color: var(--background-color);
  text-align: start;
  width: 260px;
  border-radius: 12px;
  border: 2px solid gray;
  color: var(--text-color);
}

#imgDiv > div {
  display: flex;
  width: 100%;
  justify-content: end;
}

#imgForm {

  text-align: start;
  border-radius: 10px;

}

#open {
  align-items: center;
}

#triangulito-spin{
  width: 27px;
  cursor: pointer;
  fill: var(--text-color);
  /* -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; */
}

#imgperfilin {
  border-radius: 7px;
}

#spin {
  background-color: white;
}


#contenedor-footer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 570px;
  color: var(--text-color);
  bottom: 120px;
  /* margin-left: 200px; */
  /* margin-top: 20px;
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 757px;
  width: 450px; */
}

#contenedor-footer2 {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 650px;
  color: var(--text-color);
  bottom: 45px;
  /* margin-left: 200px; */
  /* margin-top: 20px;
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 757px;
  width: 450px; */
}



#contenedor-footer-login {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 713px;
  width: 450px;
}

.text-footer {
    font-size: 15px;
    color: gray;
}


#container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: var(--text-color);
  background-color: var(--background-color);
  width: 450px;
  height: 74%;
  border-radius: 20px;
}

.colorPar{
  color: var(--text-color);
}

 #formularioInfo {
 width: 100%;
 /* background-color: #2196f3; */    /*/////////////////////////////// AQUI ////////////////////////// */
 display: flex;

}

.botoneditar {
display: flex;
text-align: center;
}

#conInfoForm {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 2px solid gray;
  background-color: var(--background-color);
  width: 650px;
  height: 100%;
  border-radius: 20px;
  padding-bottom: 20px;
}

#conInfoForm2 {

  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 500px;
  height: 100%;
}

#infoPerson {
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  width: 100%;
  /* text-align: center; */

}

#table-info {
  display: flex;
  justify-content: center;
  width:100%;
  margin-top: 50px;
}

#table-info2 {
  display: flex;
  justify-content: center;
  width:100%;
  margin-top: 80px;
}

#container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: var(--text-color);
  background-color: var(--background-color);
  width: 450px;
  height: 64%;
  border-radius: 20px;
}

#contenedor-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}

#contenedor-2 > h2 {
    width: 100%;
    color: var(--text-color);
    font-family: 'Noto Sans';
}
#contenedor-2 > h3 {
     width: 100%;
      color: var(--text-color);
      font-family: 'Noto Sans';
}

#container-3 {
    font-size: 12px;
    padding-top: 27px;
    color: gray;
}

#container-btn {
    padding-top: 20px;
}

#container-btn > a {
    padding-left: 10px;
    padding-right: 10px;
}

#contenedor-4 {
    padding-top: 25px;
    display: flex;
    font-size: 15px;
}

#contenedor-4 > p {
    color: gray;
}

#contenedor-4 > p > a {
    color: #2196f3;
    text-decoration: none;
}

.fa-lock {
    color: gray;
    /* @apply absolute left-4 bottom-4; */
    position: relative;
    left: -42%;
    bottom: -14%;
}

.fa-sun {
  color: #d4a408;
}

.fa-moon {
  color: rgb(6, 38, 153);
}

.fa-envelope {
    color: gray;
    position: relative;
    bottom: -14%;
    left: -42%;
}


.user-name {
  width: 100%;
  max-width: 450px;
  padding: 10px;
  padding-left: 45px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 17px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.user-name:focus {
  color: var(--text-color);
  background-color: var(--background-color);
}

#button-log {
  background-color: #2196f3;; /* #2196f3; */
  color: white;
  padding: 10px 36px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  max-width: 450px;
  font-size: 17px;
}

#form-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 75%;
  /* align-items: center; */
}

#switch {
  padding: 22px 20px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: var(--background-color);
  cursor: pointer;
  color: #252329;
}

#switchinfo{
  border: none;
  cursor: pointer;
  color: #252329;

}

@media (max-width: 768px) {
  #container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: none;
    border-style: none;
    background-color: var(--background-color);
    width: 450px;
    height: 74%;
    border-radius: 20px;
  }
/*
  #conInfoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: var(--text-color);
    background-color: var(--background-color);
    width: 450px;
    height: 74%;
    border-radius: 20px;
  } */

  #container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: none;
    border-style: none;
    background-color: var(--background-color);
    width: 450px;
    height: 64%;
    border-radius: 20px;
  }

}

@media screen and (min-width: 1200px) {
  /* .container-1 {
    width: 27%;
  } */

  #contenedor-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}

  #form-1 {
    width: 80%;
  }
}
